<div *ngIf="box">
  <h2>Select {{box.type}} details</h2>
  {{diagnostic}}
  <form #orderForm="ngForm">
    <div class="form__group">
      <label for="material">Material Choice:</label>
      <select class="form-control" id="material" placeholder="material"
        name="material"
        [(ngModel)]="model.material"
        #spy
        required>
        <option *ngFor="let material of materials" [value]="material">{{material}}</option>
      </select>

      <label for="dimension">Dimensions Choice:</label>
      <select class="form-control" id="dimension" placeholder="dimension"
        name="dimension"
        [(ngModel)]="model.dimension"
        required>
        <option *ngFor="let dimension of dimensions" [value]="dimension">{{dimension}}</option>
      </select>
    </div> <!-- form__group -->

    <input class="form-control" type="number" name="quantity" placeholder="quantity"/>

    <label for="shippingOption">Shipping Options</label>
    <select class="form-control" id="shippingOption" placeholder="shippingOption"
      name="shippingOption"
      [(ngModel)]="model.shippingOption"
      required>
      <option *ngFor="let shippingOption of shippingOptions">{{shippingOption}}</option>
    </select>

    <div class="form__group">
      <label for="userInfo">User Info</label>
      <input class="form-control" type="text" name="name" placeholder="Nat King Coleslaw"
        [(ngModel)]="model.name"
        #name="ngModel"
        required/>
      <div [hidden]="name.valid || name.pristine"
        class="alert alert-danger">
        Name is required
      </div>

      <input class="form-control" type="text" name="Address" placeholder="Address: e.g., 1111 Lemonade Springs Dr, Watsonville CA 96709" />

      <input class="form-control" type="text" name="company" placeholder="Company: e.g., Willy Wonka Chocolate Factory"/>

      <input class="form-control" type="phone" name="phone" placeholder="Phone Number: e.g., 333-333-3333"/>

      <input class="form-control" type="email" name="email" placeholder="Email: e.g., example@email.com" />
    </div> <!-- form__group -->
    <button class="submit" name="submit" (click)="onSubmit();orderForm.reset()">Submit Order (assume paid)</button>
  </form>
  <div class="response-container">{{responseMessage}}</div>
</div>

